/* .carousel-item{
  height: 475px;
} */
#carouselExampleAutoplaying img {
  height: 300px;
}

.card {
  width: 100%;
  margin: 15px auto;
  border: 5px solid gray;
  box-shadow: 5px 10px #888888;
}

/* App.css or HomePage.css */
.card h2 {
  text-align: center;
}

.card {
  padding: 5px; /* add card padding value */
}
